*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page{
  background-color: #EAEBEF;
  min-height: 100vh;
}
.main-page-container{
  width: 400px;
  /* height: 600px; */
  background-color: #EAEBEF;
  padding:20px;
  border-radius: 15px;
  /* box-shadow: 0px 5px 15px rgba(0,0,0,0.15); */
  /* box-shadow: 0px 0px 60px rgb(0 0 0 / 18%); */
  /* box-shadow: -3px -3px 10px #ffffffb2, 3px 3px 7px rgba(94,104,121,0.3) ; */
  box-shadow: -3px -3px 10px #ffffffb2 inset, 3px 3px 7px rgba(94,104,121,0.3) inset;
}
h1,h2,h3,h4,h5,h6,p{
  color: #46494F !important;
}
.outline-input{
  color: #46494F im !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
 
}
.outline-input div{
  border-radius: 360px !important;
}
.outline-btn{
  border-radius: 360px !important;
  color: #46494F !important;
  /* text-transform: none !important; */
}
.outline-btn > span{
  /* font-weight: 600 !important; */
}
@media only screen and (max-width:500px){
  .main-page-container{
    width: 90vw;
  }
}